.contactUsContainer {
  .clip-image-container {
    // padding: 0px 6vw;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .clip-image {
    width: 100%;
    height: 78vh;
    position: relative;
    overflow: hidden;
  }
  .clip-image-content {
    position: absolute;
    top: 28%;
    left: 10%;
    overflow: hidden;
    width: 90%;
  }
  .clip-image-content2 {
    position: absolute;
    top: 60%;
    left: 0;
    overflow: hidden;
    width: 90%;
  }
  .line {
    display: inline-block;
    background: white;
    width: 10vw;
    height: 0.5vh;
  }
  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5vh;
    padding: 0;
  }
  .column {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .map {
    width: 45vw;
    height: 60vh;
  }

  .contact-us-law {
    display: flex;
    flex-direction: column;
  }

  label {
    font-size: 3vh;
  }
  .imagecontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vw;
    width: 100%;
  }
  .form-control {
    width: 330px;
  }
  .input-field {
    font-size: 25px;
  }
  .login-btn {
    margin-top: 20px;
    button {
      padding: 10px 80px;
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      border: 0;
      margin: 0;
      border-radius: 5px;
      background-image: linear-gradient(to top, #b8a046, #876f18);
      padding: 10px 30px;
      transition: 0.3s;
      display: inline-block;
      &:hover {
        text-decoration: none;
        transform: translateY(5px);
        background-image: linear-gradient(to top, #876f18, #b8a046);
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .contactUsContainer {
    flex-direction: column;
  }
}
