.container {
  width: 100%;
  height: 100%;
  display: flex;
  //justify-content: space-evenly;
  flex-direction: column;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 0.01%, #e5e5e5 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 10%;
  box-sizing: border-box;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
  }

  .audioButtonContainer button {
    padding: 5px;
    margin: 0;
  }
}
