.containerr {
  width: 100%;
  height: 100%;

  justify-content: space-evenly;
  flex-direction: column;
  background-color: "#fff";
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  padding: 10%;
  box-sizing: border-box;

  .button {
    display: flex;
    background-color: "#4a226e";
    align-items: center;
    justify-content: center;
    height: 50%;
  }

  .audioButtonContainer button {
    padding: 5px;
    margin: 0;
  }
}
