.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 0.01%, #f5f5f5 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 5%;

  .form {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .selector {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    h3 {
      font-size: 1.3em;
      margin-bottom: 0;
    }

    button {
      margin-top: 0;
    }
  }

  .button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    button {
      background-color: #151a44;
    }
  }
}
