.containerr {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // background: linear-gradient(180deg, #ffffff 0%, #ffffff 0.01%, #f5f5f5 100%);
  background-color: transparent;
  // border: 2px solid black;

  padding: 20px;
  margin-bottom: 300px;
  align-items: center;
  .form {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .selector {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    h3 {
      font-size: 1.3em;
      margin-bottom: 0;
    }

    button {
      margin-top: 0;
    }
  }

  .button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    button {
      background-color: #151a44;
    }
  }
}
