// 5. Carousel
// ==========================================================================

$carousel-height: 400px !default;
$carousel-item-height: $carousel-height / 2 !default;
$carousel-item-width: $carousel-item-height !default;

.my-carousel {
  &.carousel-slider {
    top: 0;
    left: 0;

    .my-carousel-fixed-item {
      &.my-with-indicators {
        bottom: 68px;
      }

      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px;
      z-index: 1;
    }

    .my-carousel-item {
      width: 100%;
      height: 100%;
      min-height: $carousel-height;
      position: absolute;
      top: 0;
      left: 0;

      h2 {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
      }

      p {
        font-size: 15px;
      }
    }
  }

  overflow: hidden;
  position: relative;
  width: 100%;
  height: $carousel-height;
  perspective: 500px;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;

  .my-carousel-item {
    visibility: hidden;
    width: $carousel-item-width;
    height: $carousel-item-height;
    position: absolute;
    top: 0;
    left: 0;

    & > img {
      width: 100%;
    }
  }

  .my-indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;

    .my-indicator-item {
      &.my-active {
        background-color: #fff;
      }

      display: inline-block;
      position: relative;
      cursor: pointer;
      height: 8px;
      width: 8px;
      margin: 24px 4px;
      background-color: rgba(255, 255, 255, 0.5);

      transition: background-color 0.3s;
      border-radius: 50%;
    }
  }

  // Materialbox compatibility
  &.scrolling .my-carousel-item .materialboxed,
  .my-carousel-item:not(.my-active) .materialboxed {
    pointer-events: none;
  }
}
.my-carousel-item-content-active {
  background-color: #b8a046;
}

.my-carousel-item-content-inactive {
  background-color: #fff;
}
.my-carousel-item-content {
  width: 15em;
  height: 15em;
  border-radius: 15px;
  font-size: 1.2em;
  border: 5px solid #b8a046;
}
