.top-up {
  background-color: white;
  margin: 10px;
  width: 50%;
  border-radius: 20px;
  box-shadow: 0px 7px 24px black;
  padding: 20px;
}

#container_pro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.yellow_border {
  display: flex;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media only screen and (max-width: 950px) {
  .top-up {
    width: 100%;
  }
  .yellow_border {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 1023px) and (max-width: 1025px) {
  #container_pro {
    padding-left: 7%;
    padding-right: 10%;
  }
}
