.social-signup {
  text-align: center;
  margin-top: 20px;
  p {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #4d4d4d;
    a {
      color: #b19940;
    }
  }
}

.polyterm {
  margin-top: 40px;
  p a {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: right;
    color: #909090;
  }
}
