.News_portal {
  margin-bottom: 50px;
  margin-top: 50px;
  height: 100%;

  margin-right: 20px;
  margin-left: 20px;
}
.header {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  padding: 10px;
  font-family: "Tajawal", sans-serif;
  color: black;
  background-color: white;
}
.divider {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: center;
  width: 10%;

  background-color: #b8a046;
  margin: auto;
  margin-bottom: 40px;
}
.secod_header {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: gray;
}
.news_body {
  margin-top: 40px;
  margin-left: 6rem;
  margin-right: 6rem;
  width: "100%";
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
@media only screen and (max-width: 600px) {
  .news_body {
    height: 100%;
    flex-direction: column;
  }
}
@media only screen and (max-width: 1100px) {
  .news_body {
    height: 100%;
    flex-direction: column;
  }
  .news_body1 {
    min-width: "500px" !important;
    min-height: "600px";
    margin: 10px;
  }
  .news_body3 {
    min-width: "500px" !important;
    min-height: "600px";
    margin: 10px;
  }
  .news_body2 {
    min-width: "500px" !important;
    min-height: "600px";
    margin: 10px;
  }
}
.news_body1 {
  background-image: url("./2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #cccccc;
  min-width: "550px" !important;
  min-height: "600px";
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  background-color: red;
}
.news_body3 {
  background-image: url("./download.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #cccccc;
  min-width: "550px" !important;
  min-height: "600px";
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  background-color: red;
}
.news_body2 {
  background-image: url("./3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #cccccc;
  min-width: "550px" !important;
  min-height: "600px";
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  background-color: red;
}
Card {
  margin: 0px;
}
.address {
  display: flex;
  margin: 15px;

  align-items: baseline;
  flex-direction: row;
}
.address_pro {
  display: flex;
  justify-content: space-between;
  bottom: 0;
}
.fotter_part {
  opacity: 0.5;
  color: white;
  font-weight: 500;

  background-color: black;
}
