#newspro1 {
  width: 500px;
  height: 550px;
}
#newspro2 {
  width: 500px;
  height: 550px;
}

#newspro3 {
  width: 500px;
  height: 550px;
}
#footer_pro {
  height: 200px;
  width: 100%;

  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
#footer-pro2 {
  height: 200px;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
#footer-pro1 {
  height: 200px;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
#footer-pro3 {
  height: 200px;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
h1 {
  font-size: 35px !important;
}
@media only screen and (max-width: 600px) {
  #newspro1 {
    width: 300px;
    height: 300px;
    margin: 10px;
  }
  #footer-pro {
    height: 70px;
  }
  #footer-pro2 {
    height: 70px;
  }
  #footer-pro1 {
    height: 70px;
  }
  #footer-pro3 {
    height: 70px;
  }
  #newspro2 {
    width: 300px;
    height: 300px;
    margin: 10px;
  }
  #newspro3 {
    width: 300px;
    height: 300px;
    margin: 10px;
  }

  h1 {
    font-size: 10px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1500px) {
  #newspro1 {
    width: 400px;
    height: 400px;
    margin: 10px;
  }
  #footer-pro {
    height: 150px;
  }
  #footer-pro1 {
    height: 150px;
  }
  #footer-pro3 {
    height: 150px;
  }
  #footer-pro2 {
    height: 150px;
  }
  #newspro2 {
    width: 400px;
    height: 400px;
    margin: 10px;
  }
  #newspro3 {
    width: 400px;
    height: 400px;
    margin: 10px;
  }

  h1 {
    font-size: 20px;
  }
}
