.dashContainer {
  .rootDashboard {
    display: flex;
  }
  .content {
    flex-grow: 1;
  }
  .rightRoot {
    flex-grow: 1;

    background: white;
  }
  .rightContent {
    background-color: white;
    width: 95%;
    margin: 0;
    padding: 0;
    height: 100%;
    // box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
}
