.dashContainer {
  .rootDashboard {
    display: flex;
  }
  .content {
    flex-grow: 1;
    padding: 24px;
  }
  .rightRoot {
    flex-grow: 1;
    padding: 24px;
    background: white;
  }
  .rightContent {
    background-color: white;
    width: 95%;
    padding: 2%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
}
