#Maincontainer {
  flex-direction: row-reverse;
  color: red;
  height: 100%;
  margin-top: 40px;
  margin-right: 9.6rem !important;
  margin-left: 6.6rem;

  display: flex;
  flex-wrap: inherit;

  justify-content: space-between;
}
#Maincontainerone {
  flex-direction: row;
  color: red;
  height: 100%;
  margin-top: 40px;
  margin-right: 9.6rem;
  margin-left: 6.6rem;

  display: flex;
  flex-wrap: inherit;

  justify-content: space-between;
}
