.containerr {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // background: linear-gradient(180deg, #ffffff 0%, #ffffff 0.01%, #f5f5f5 100%);
  background-color: transparent;
  // border: 2px solid black;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin-bottom: 300px;
  align-items: center;

  .entity {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;

    p {
      margin-bottom: 0;
      margin-right: 2em;
    }
  }

  .individualForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;

    @media screen {
      width: 100%;
      padding: 0;
    }
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    margin: 0 1em;
    button {
      background: #151a44;
      border-radius: 4px;
      color: #ffd645;
    }
  }

  .dropdown {
    display: flex;
    align-items: center;
    button {
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
}
