.form-control:focus {
  border: none;
  box-shadow: none;
  border-radius: none;
  border-bottom: 1px solid gray;
}
.form-control {
  //   font-size: 13spx;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid gray;
  box-shadow: none;
}
