.my-login-content {
  text-align: center;
}

.login-top-spacer {
  height: 20px;
}

.login-con h3 {
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: #a78c26;
}

.login-con img {
  margin: 20px 0;
}

.login-con p {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: #909090;
  margin-bottom: 20px;
}

.login-con form {
  text-align: left;
}

.form-check.my-check a {
  float: right;
  text-decoration: underline;
  color: #707070;
}

.form-check.my-check a:hover {
  text-decoration: none;
}

.polyterm p a {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #909090;
}

.polyterm {
  margin-top: 40px;
}

form {
  width: 50%;
  margin: auto;
}

div#show_hide_password {
  position: relative;
}

.input-group-addon {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -13px;
  margin-right: 13px;
}

.login-btn {
  text-align: center;
  margin-top: 20px;
}

.login-btn a,
button {
  padding: 10px 80px;
}

.input-group-addon a {
  color: #b8a046;
}

.my-login-content.right-bg {
  background-image: url("../Zytcode Assets/Assets/Clip.png");
}

.my-login-content.right-bg {
  height: 100%;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  overflow: hidden;
  position: fixed;
}

.login-text-spacer {
  height: 90px;
}

.my-login-content.right-bg h1 {
  font-size: 48px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: -83% 40% 0 0;
}

.my-login-content.right-bg p {
  font-size: 18px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.22;
  letter-spacing: normal;
  color: #ffffff;
  margin-right: 40%;
  margin-top: 3em;
}

.login-text-strip {
  position: relative;
  height: 4px;
  background: #ffffff;
  width: 50px;
  margin: auto;
  border-radius: 10px;
  margin-top: 29px;

  margin-right: 70%;
  z-index: 6;
}

.sign-up-btn a,
button {
  padding: 10px 70px;
  margin-top: 50px;
  margin-right: 40%;
}

p.log-back {
  /* opacity: 0.2; */
  border: solid 1px #707070;
  background: #ffffff1f;
  margin: auto;
  margin-bottom: 30px;
  display: inline-block;
  padding: 0 30px;
}

html,
body {
  height: 100%;
}

.social-signup {
  text-align: center;
  margin-top: 20px;
}

.social-signup h4 {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #909090;
  margin-top: 20px;
}

.social-signup p {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #4d4d4d;
}

.social-signup p a {
  color: #b19940;
}

.ss-link a {
  color: #fff;
  background: gray;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  font-size: 20px;
  padding: 6px 0;
  margin: 0 10px;
  margin-bottom: 20px;
}

.ss-link a.fb-icon {
  background: #3b5998;
}

.ss-link a.twitter-icon {
  background: #5fa9dd;
}

.ss-link a.gp-icon {
  background: #dc4e41;
}

.ss-link a:hover {
  opacity: 0.8;
}
div#login-right-high {
  padding: 0;
}
.loginImg {
  width: 1950px;
  height: 950px;
  overflow: hidden;
  margin-left: -47em;
}
.form-control {
  width: 330px;
}
.invalid-feedback {
  width: 150px;
}
.form-check {
  padding-left: 2.1rem;
}
