
.tabContainer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    width: 100%
  }
  
  .tabbedButtons {
    padding: 22px 16px;
  }
  .tabContainer .tab:first-child {
    border-right: 1px solid rgb(133, 133, 133);
  }
  
  @media (max-width: 1199px) and (min-width: 768px){
    .tabbedButtons {
      padding: 10px 26px;
    }
  }
  
  @media (min-width: 1200px){
    .tabbedButtons {
      padding: 10px 46px;
  
    }
  
  }
  
  .tab {
    padding: 14px 0px;
    width: 50%;
    text-align: center;
    cursor: pointer;
  }