.container {
  display: flex;
  flex-direction: column;
  // grid-template-areas: "stepper stepper" "leftPane rightPane";
  // gap: 5px;

  // grid-template-rows: 1fr 9fr;
  // grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100vh;
  // box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  .stepper {
    grid-area: stepper;
    padding: 0px;
  }
  .leftPane {
    grid-area: leftPane;
    display: flex;

    justify-content: center;
  }
  .rightPane {
    grid-area: rightPane;
    display: flex;
    justify-content: center;
  }
}

.paneContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
