.heading {
  font-size: 5vh;
  font-weight: bolder;
  color: #fff;
}
.login-btn {
  margin-top: 20px;
  button {
    padding: 10px 80px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border: 0;
    margin: 0;
    border-radius: 5px;
    background-image: linear-gradient(to top, #b8a046, #876f18);
    padding: 10px 30px;
    transition: 0.3s;
    display: inline-block;
    &:hover {
      text-decoration: none;
      transform: translateY(5px);
      background-image: linear-gradient(to top, #876f18, #b8a046);
    }
  }
}
