.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 0.01%, #f5f5f5 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  align-items: center;

  ul {
    list-style-type: none;
    padding: 0;
    max-width: 20em;
    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1em;
      border-radius: 5px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.514);
      background-color: white;
      padding: 0.2em 1em;
      transition: 0.3s ease;
      cursor: pointer;
      height: 4em;
      &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.788);
      }
      img {
        height: 100%;
        margin-right: 30px;
      }
    }
  }
  button {
    margin-top: 0;
    background-color: #151a44;
    color: #ffd645;
  }
}
