.container {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // background: linear-gradient(180deg, #ffffff 0%, #ffffff 0.01%, #f5f5f5 100%);
  background-color: transparent;
  // border: 2px solid black;

  padding: 20px;

  align-items: center;

  .button {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    height: 50%;
  }
  .fileUploads {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
