.bigContainer {
  box-sizing: border-box;
  height: 100%;
  //width: 100%;
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    // height: 65vh;
    background-color: #f7f7f7;
    margin-top: 3em;
    width: 100%;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    // border-radius: 50px;
    padding: 0.5% 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.5%;
    margin: 0;

    .header {
      display: flex;
      justify-content: center;
    }

    .subElement {
      display: flex;
      justify-content: space-between;
    }

    .headerFlex {
      display: flex;
      justify-content: space-between;
    }
    .subheader {
      padding: 0 2%;
      padding-right: 0;
    }

    .flexElement {
      display: flex;
      justify-content: space-between;
    }

    button {
      margin-top: 0;
      background-color: #151a44;
      color: #ffd645;
    }

    p {
      margin: 0;
    }

    .button {
      display: flex;
      justify-content: center;
    }
  }
}
