.logo_option {
  display: flex;
  width: 100%;

  flex-wrap: wrap;
  flex-direction: column;
  padding-left: "20px";
  padding-right: "20px";
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
}
.logo_rounded {
  padding: 2%;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  width: 32%;
  margin-right: 15px;
}
.logo_parts {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: space-between;
}
.info {
  display: flex;
  background-color: transparent;
  width: 100%;
  font-size: 1rem;
  padding: 1%;
  justify-content: start;
  align-items: center;
}
.divider_text {
  margin: 0px;
  color: gray;
  padding: 0px;
}
.divider {
  width: 100%;
  height: 0.1px;
  background-color: gray;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
}
.Button_part {
  text-align: center;
  width: 20%;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  background-image: linear-gradient(to top, #b8a046, #876f18);
  padding: 10px 30px;
  transition: 0.3s;
  display: inline-block;
}
.leftContainer {
  width: 60% !important;
  padding: 20px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-evenly !important;

  color: black !important;
  margin: 20px !important;

  header {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .paragraph {
    font-size: 1rem !important;
    font-weight: 300 !important;
    width: 95% !important;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  }
}

.rightConatiner {
  margin: 20px;
  max-width: 750px;

  background-repeat: no-repeat;
  background-image: contain;
  background-position: center;
  img {
    height: 100%;
    width: 100%;
  }
}

.last-logo-fix {
  margin-left: 10px !important;
}

@media only screen and (min-width: 1250px) and (max-width: 1400px) {
  .rightConatiner {
    margin: 20px;
    max-width: 750px;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: contain;
    background-position: center;
    img {
      height: 80%;
      width: 80%;
    }
  }
}

@media only screen and (min-width: 1250px) {
  .leftContainer {
    width: 65% !important;
  }
  .info {
    font-size: 1rem;
  }
}

.Button_part {
  width: 60%;
}
//   #Maincontainer {
//     flex-direction: column-reverse;
//     height: 100%;
//     margin: 0px;
//     align-items: center;
//     justify-content: center;
//   }
//   .logo_option {
//     width: 100%;
//     display: flex;
//     flex-wrap: wrap;

//     flex-direction: column;
//   }
//   .leftContainer {
//     height: 100%;

//     color: black;
//     margin: 20px;
//     width: 100%;
//     align-items: center;
//     justify-content: center;
//   }
//   .rightConatiner {
//     margin: 20px;
//     align-items: center;
//     justify-content: center;
//     height: 100%;
//     width: 100%;
//     img {
//       width: 100%;
//       height: 100%;
//     }
//   }
// }
