.this_btn {
  margin-left: 10px;
  outline: none !important;
}
.this_btn:focus {
  outline: none !important;
}
.row__poster {
  object-fit: cover;
  /* max-width: 800px; */
  /* height: 900px; */
  margin-right: 20px;
  margin-left: 20px;
  max-height: 150px;

  transition: transform 360ms;
  border-radius: 10px;
  /* height: 50px;
  width: 50px; */
  display: flex;
  transition: all 0.2s;
}
.row__posters {
  display: flex;
  margin-right: 6.6rem;
  margin-left: 6.6rem;
  overflow-x: scroll !important;
  overflow-y: hidden;
  padding: 30px;
  -webkit-transition-property: -webkit-scrolling;
  -webkit-transition-duration: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 3s;
  transition-delay: 2s, 4ms;

  /* Global values */
  transition-delay: inherit;
  transition-delay: initial;
  transition-delay: unset;
}
/* @media only screen and (max-width: 1200px) {
 .row__posters {
 flex-direction: column;
} 
} */
.row__poster:hover {
  transform: scale(1.12);
}
.row__poster::-webkit-scrollbar {
  display: none;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
.row__postersscroll {
}

*::-webkit-scrollbar {
  display: none;
}
.row__posterLarge {
  max-height: 500px;
  /* width: 100%; */
  padding: 40px;
  /* margin: 0; */
}
.row__posterLarge:hover {
  object-fit: contain;

  /* transform: scale(1.08); */
}
.omen {
  margin-top: 10px;
}
@media only screen and (min-width: 100px) and (max-width: 10124px) {
  .row__posters {
    margin-left: 0px !important;
    margin-right: 2px !important;
  }
}
