.image_holder {
  height: 100px;
  width: 100px;
  display: flex;
  margin: 10px;

  // background-color: rgba(194, 194, 194, 0.5);

  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  color: red;
}
.trustpartcontainer {
  background-color: rgb(196, 196, 196);
  overflow: hidden;
  height: auto;

  width: 85%;
  padding: 30px;
}
.trustpartcontainer_text {
  font-size: 30px;
  margin-bottom: 20px;
}
.main {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  background-image: linear-gradient(to top, #b8a046, #876f18);
  padding: 10px 30px;
  transition: 0.3s;
  display: inline-block;
}
.trust_main_container {
  margin: 2rem;
  overflow: hidden;
}
.carousel_css {
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .image_holder {
    margin: 0px;
  }
}
