.linklistContainer {
  color: #b8a046;
  background-color: #333;
  font-weight: bold;
  span {
    color: #b8a046;
    font-size: 1em;
    font-weight: 400;
    font-family: Roboto, Helvetica, Arial, sans-serif;
  }
  .dashLink {
    background: inherit;
    display: block;
    border: none;
    box-shadow: none;
    text-align: left;
  }
  .dashLink:hover {
    background: rgba(0, 0, 0, 0.07);
  }
  .selectedLink {
    background: rgba(0, 0, 0, 0.1);
    display: block;
    border: none;
    box-shadow: none;
    text-align: left;
  }
}
