.checkBoxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkBoxLabel {
    cursor: pointer;
  }
  .checkMarkContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.425);
  }

  .checkMarkContainer > span {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    margin: 2.5px;
  }

  &:hover input ~ .checkMarkContainer {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.37);
  }

  input:checked ~ .checkMarkContainer span {
    background-color: #b8a046;
    box-shadow: 0 0 2px #b8a046;
  }

  input:checked ~ .checkMarkContainer:after {
    display: block;
  }
}
