.cardView {
  padding: 6% 0;
  border-radius: 10px;
  border: 2px solid #b8a046;
  cursor: pointer;
  font-size: 1.5em;
}

.cardView-selected {
  background-color: #b8a046;
  color: white;
}
.cardView-not-selected {
  color: #b8a046;
}
