.bigContainer {
  box-sizing: border-box;
  padding: 1.5%;
  background-color: #eee;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    height: 60vh;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0.5% 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;

    .header {
      display: flex;
      justify-content: center;
    }

    .subElement {
      display: flex;
      justify-content: space-between;
    }

    .headerFlex {
      display: flex;
      justify-content: space-between;
    }
    .subheader {
      padding: 0 2%;
      padding-right: 0;
    }

    .flexElement {
      display: flex;
      justify-content: space-between;
    }

    button {
      margin-top: 0;
      background-color: #151a44;
    }

    p {
      margin: 0;
    }

    .button {
      display: flex;
      justify-content: center;
    }
  }
}
