.top_view_text {
  margin-top: 10px;
  margin-left: 70px;
  width: 100%;
}
.formatter {
  height: 30%;

  position: relative;
  top: 220px;
  margin: 6.6rem;
  display: flex; // this is to
  top: 220px;

  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.header-bottom-con2 {
  display: none;
}
.header-bottom-con {
  display: block;
}
.overall_text {
  color: white !important;
  font-size: 30px !important;
  font-weight: bold !important;
}
.header-bottom-con {
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 100%;

  justify-content: center;
  border-top: solid 2px rgba(255, 255, 255, 0.5);
  // border-right: solid 2px rgba(255, 255, 255, 0.5);
  // border-left: solid 2px rgba(255, 255, 255, 0.5);

  flex-direction: row;

  justify-content: space-evenly;
}
.hr_divider {
  color: rgba(255, 255, 255, 0.5);
  height: 2px;
  display: none;
  top: 20;
  position: relative;
  width: 100vw;
}
@media only screen and (min-width: 100px) and (max-width: 900px) {
  // .header-bottom-con {
  //   display: flex;
  //   flex-direction: column;

  //   align-items: center;
  // }
  .formatter {
    height: 30%;
    width: 100%;
    position: relative;

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.overall_text {
  font-size: 30px !important;
}
.link_provider {
  margin-top: 20px !important;
}
@media only screen and (min-width: 1250px) and (max-width: 1400px) {
  .overall_text {
    font-size: 25px !important;
  }
  .link_provider {
    margin-top: 50px !important;
  }
}

@media only screen and (max-width: 450px) {
  .hbc-content-ele {
    display: flex;
    flex-direction: row;
    background-color: transparent;
  }
  .chbc-icon-text {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1000px) {
  .header-bottom-con {
    display: flex;
    width: 100%;
    padding: 0;

    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
  }

  .chbc-icon-text {
    font-size: 10px;
  }
  .chbc-icon-text h4 {
    font-size: 10px;
    margin-left: 8px;
  }
  .chbc-icon-text h2 {
    font-size: 10px;
    margin-left: 8px;
  }
  .hbc-icon-img img {
    height: 30px;
    width: 30px;
    margin-left: 10px;
  }
  .hbc-content-ele div {
    margin: 0px;
  }
}
.hbc-content-ele div {
  margin: 0px;
  display: flex;
  align-items: baseline;
}
.chbc-icon-text h2 {
  margin-top: 5px;
}
.chbc-icon-text {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin-left: 10px !important;
  background-color: transparent;
}
