.top_view_text {
  margin-top: 10px;
  margin-left: 70px;
  width: 100%;
}
.formatter {
  height: 30%;
  width: 100%;
  position: relative;
  top: 220px;
  margin: 6.6rem;
  display: flex;
  top: 220px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header-bottom-con2 {
  display: none;
}
.header-bottom-con {
  display: block;
}
.overall_text {
  color: white;
  font-weight: bold;
}
.header-bottom-con {
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 100vw;

  flex-direction: row;

  justify-content: space-between;
}
@media only screen and (min-width: 100px) and (max-width: 900px) {
  // .header-bottom-con {
  //   display: flex;
  //   flex-direction: column;

  //   align-items: center;
  // }
  .formatter {
    height: 30%;
    width: 100%;
    position: relative;

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 450px) {
  .hbc-content-ele {
    display: flex;
    flex-direction: row;
    background-color: transparent;
  }
  .chbc-icon-text {
    font-size: 18px;
  }
}
@media only screen and (max-width: 900px) {
  .header-bottom-con {
    display: flex;

    padding: 0;

    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
  }

  .chbc-icon-text {
    font-size: 10px;
  }
  .chbc-icon-text h4 {
    font-size: 10px;
  }
  .chbc-icon-text h2 {
    font-size: 10px;
  }
  .hbc-icon-img img {
    height: 30px;
    width: 30px;
    margin-left: 10px;
  }
  .hbc-content-ele div {
    margin: 0px;
  }
}
