.containerr {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  // background: linear-gradient(180deg, #fff 10%, #4a226e 0.01%, #4a226e 100%);
  color: #242f40;
  background-color: white;
  // border-bottom: 1px solid #242f40;

  align-items: center;

  .centerFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ring {
    border-radius: 50%;
    border: 15px solid;
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    //background: linear-gradient(180deg, #151A44 -47.65%, rgba(21, 26, 68, 0) 209.8%);
    //border-image: linear-gradient(rgba(21,26,28,1), rgba(21,26,28,0));

    img {
      border-radius: 50%;
      width: 12vw;
      height: 12vw;
      object-fit: contain;
    }
  }
}
