.cardView {
  padding: 0;
  font-size: 30px;
  border-radius: 10px;
  border: 2px solid #b8a046;
  cursor: pointer;
  font-size: 1.5em;
  color: black;
}

.cardView-selected {
  //background-color: #b8a046;
  font-weight: bold;
  color: #b8a046;
  box-shadow: 2px 2px 10px 2px #b8a046;
}
.cardView-not-selected {
  color: black;
}
