#footer_pro-1 {
  margin-top: 45px;
}
@media only screen and (min-width: 780px) and (max-width: 1600px) {
  #footer_pro-1 {
    margin-top: 50px;
    background-color: transparent;
  }
  #email_media {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 180px) and (max-width: 780px) {
  #footer_pro-1 {
    margin-top: 260px;
    background-color: transparent;
  }
  #email_media {
    margin-top: 30px !important;
  }
}
