.footer_pro-1 {
  margin-top: 45px;
}
@media only screen and (min-width: 780px) and (max-width: 2600px) {
  #footer_pro-1 {
    margin-top: 50px;
    background-color: transparent;
  }
}
@media only screen and (min-width: 180px) and (max-width: 780px) {
  #footer_pro-1 {
    margin-top: 200px;
    background-color: transparent;
  }
}
