.containerr {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  // background: linear-gradient(180deg, #fff 10%, #4a226e 0.01%, #4a226e 100%);
  background-color: #242f40;
  color: white;

  align-items: center;

  .centerFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .containerr_text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ring {
    border-radius: 50%;
    border: 15px solid;
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      180deg,
      #151a44 -47.65%,
      rgba(21, 26, 68, 0) 209.8%
    );
    //border-image: linear-gradient(rgba(21,26,28,1), rgba(21,26,28,0));

    img {
      border-radius: 50%;
      width: 12vw;
      height: 12vw;
      object-fit: contain;
    }
  }

  h1 {
    font-size: 1.7em;
    font-weight: 400;
  }
}
