.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 0.01%, #f5f5f5 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  align-items: center;
  padding: 5%;
  box-sizing: border-box;

  .centerFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ring {
    border-radius: 50%;
    border: 15px solid;
    width: 15vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      180deg,
      #151a44 -47.65%,
      rgba(21, 26, 68, 0) 209.8%
    );
    //border-image: linear-gradient(rgba(21,26,28,1), rgba(21,26,28,0));

    img {
      border-radius: 50%;
      width: 12vw;
      height: 12vw;
      object-fit: contain;
    }
  }

  h1 {
    font-size: 1.7em;
    font-weight: 400;
  }
}
