.container {
  width: 100%;
  height: 500px;

  justify-content: center;
  flex-direction: column;
  // background: linear-gradient(180deg, #ffffff 0%, #ffffff 0.01%, #f5f5f5 100%);
  background-color: transparent;
  // border: 2px solid black;

  padding: 20px;

  align-items: center;
  //align-items: center;

  .button {
    display: flex;
    justify-content: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: center;
  }

  button {
    background: #4a226e;
    border-radius: 4px;
    color: #fff;
  }
}
