.top-head {
  font-size: 20px;
}
.my-nav-section {
  hr {
    display: none !important;
  }
}
.pro_image_one {
  height: 50px;
  width: 45px;
  margin-bottom: 30px;
}

.fluid-container {
  margin-top: 10px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  background-color: transparent;
  top: 10;
  left: 0;
}
.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link_provider {
  margin-left: 20px;
}
@media only screen and (max-width: 950px) {
  .navbar-toggler {
    width: 80px !important;
    margin-top: 20px;
    margin-bottom: 36px;
  }
  .navbar-toggler-icon {
    text-align: center;
  }
  .fluid-container {
    width: "100%" !important;
    margin-right: 0 !important;
  }
  .container-fluid {
    display: flex;

    justify-content: space-between;
  }
  #nav_pro_max {
    background-color: transparent;
    opacity: 0.9;
    padding: 20px;

    width: 90vw;
  }
}
@media only screen and (max-width: 1450px) {
  .top-head {
    font-size: 15px;
  }

  .link_provider {
    margin: 0px;
  }
  .pro_image {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1450px) {
  .top-head {
    font-size: 15px;
  }
  .pro_image {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .top-head {
    font-size: 10px;
  }
  .header-logo,
  .text-pro {
    margin: 0px;

    padding: 0px;
  }
}
.top-head {
  color: #b8a046 !important;
}
.text-pro {
  color: #b8a046 !important;
  text-decoration: none;
  font-size: 30px;
}
#nav_mainprt1 {
  display: none;
}

@media only screen and (max-width: 420px) {
  #nav_mainprt {
    display: none;
  }

  #nav_mainprt1 {
    display: flex;
  }
}
.navbar-brand1 {
  display: none;
}
a {
  text-decoration: none !important;
}
