.contractSubCategoryItem {
  background-color: white;
  height: 3em;
  font-size: 2em;
  font-weight: bold;
  color: #b8a046;
  cursor: pointer;
  //text-align: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.603);
  border-left: 5px solid #b8a046;
  transition: 0.2s ease;
  border-radius: 3px;
  &:hover {
    border-left: 30px solid #b8a046;
  }
}
