.customMultiDatePickerContainer {
  input {
    font-size: 1rem;
    background-color: white;
    color: #495057;
    padding: 0.9em 0.4em;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
}
