.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;

  padding: 5%;
  .button {
    display: flex;
    justify-content: center;
  }
}
