.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  padding: 5%;
  .button {
    display: flex;
    justify-content: center;
  }
}
